<% if @success %>
	<h2>Your order has been sent successfuly!</h2>

	<script type="text/javascript">
		$(function()
	 {
		window.localStorage.clear();
		});
	</script>
<% else %>
	<h2>Error</h2>
<% end %>
